  body,html {background-color: #EEEEEE; font-family: 'Capriola', sans-serif; font-size: 16px; margin:0;}
  table {font-family: 'Capriola', sans-serif; font-size: 16px;}
  div.current {border-style: solid; margin: 5px; width:400px;}
  #dashboard {margin: 5px; padding: 5px; float:left; background-color: #DDDDDD; -moz-border-radius: 15px; border-radius: 15px;}
  #device {margin: 5px; padding: 5px; float:left; background-color: #DDDDDD; -moz-border-radius: 15px; border-radius:  15px; border: solid; border-color:silver;}
  #device-on {margin: 5px; padding: 5px; float:left; background-color: #DDDDDD; -moz-border-radius: 15px; border-radius: 15px; border: solid; border-color:green;}
  #device-off {margin: 5px; padding: 5px; float:left; background-color: #DDDDDD; -moz-border-radius: 15px; border-radius: 15px; border: solid; border-color:red;}
  #dashboard_red {margin: 5px; padding: 5px; width:48%; float:left; background-color: #FF0000; -moz-border-radius: 15px; border-radius: 15px;}
  #dashboard_1wire {margin: 5px; padding: 5px; width:48%; float:left; background-color: #DDDDDD; -moz-border-radius: 15px; border-radius: 15px;}
  #dashboard_gpio {margin: 5px; padding: 5px; width:48%; float:left; background-color: #DDDDDD; -moz-border-radius: 15px; border-radius: 15px;}
  #dashboard_pwm {margin: 5px; padding: 5px; width:48%; float:left; background-color: #DDDDDD; -moz-border-radius: 15px; border-radius: 15px;}
  #dashboard_dummy {margin: 5px; padding: 5px; width:48%; float:left; background-color: #DDDDDD; -moz-border-radius: 15px; border-radius: 15px;}
  #dashboard_relayboard {margin: 5px; padding: 5px; width:48%; float:left; background-color: #DDDDDD; -moz-border-radius: 15px; border-radius: 15px;}
  #menu { width: 100%; overflow:hidden; background-color: #CCCCCC;}
  #icon 		{ float: left; width: 100px; text-align: center; padding: 3px;}  
  #icon_select 	{ float: left; width: 100px; text-align: center; padding: 3px; background-color: #EEEEEE;}    
  #mb_icon 			{ float: left; width: 40px; text-align: center; padding: 3px;}  
  #mb_icon_select 	{ float: left; width: 40px; text-align: center; padding: 3px; background-color: #EEEEEE;}    
  img {border:0}
  h1,h2,h3 {margin-top:2px; margin-bottom:2px;}
  #temp {font-size: 24px; color: #000090}
  #time {font-size: 24px; color: #000090}
  input.temp_select {float:right; text-align:right; font-family: 'Capriola', sans-serif; font-size: 16px; color: #000090; width: 50px; margin-right: 10px}
  input.time_select {font-family: 'Capriola', sans-serif; font-size: 16px; color: #000090; width: 100px}
  select, input.rest {font-family: 'Capriola', sans-serif; font-size: 16px; color: #000090; width: 200px}
  select.medium {font-family: 'Capriola', sans-serif; font-size: 16px; color: #000090; width: 150px}
  select.short {font-family: 'Capriola', sans-serif; font-size: 16px; color: #000090; width: 100px}
  select.vshort {font-family: 'Capriola', sans-serif; font-size: 16px; color: #000090; width: 50px}  
  input.long {font-family: 'Capriola', sans-serif; font-size: 16px; color: #000090; width: 350px; background-color: #EEEEEE}
  input.medium {font-family: 'Capriola', sans-serif; font-size: 16px; color: #000090; width: 200px; background-color: #EEEEEE}
  input.short {font-family: 'Capriola', sans-serif; font-size: 16px; color: #000090; width: 100px; background-color: #EEEEEE}
  input.vshort {font-family: 'Capriola', sans-serif; font-size: 16px; color: #000090; width: 50px; background-color: #EEEEEE}
  div.temp_select {width:100%; margin:5px;}
  h2.error {color: red; }
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
.imagebacked {padding-left: 26px; background-repeat: no-repeat;}

.bold           { font-weight:bold; }
.underline      { text-decoration: underline; }
.italic         { font-style: italic; }

.red		{ color: #FF0000; }
.darkgrey	{ color: #DDDDDD; }
